html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    height: 100px;
    background-color: #1F2937;
    

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}


.seed-picker {
    min-width: 71px;
    min-height: 42px;
    margin: 0;
    border: 0.5px solid #D1D5DB;
}

select {
    min-width: 312px;
    min-height: 42px;
    border-radius: 6px;
    background-color: #1F2937;
    color: #D5D4D8;

}

.get-scheme-btn {
    min-width: 40px;
    min-height: 42px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #3D4B60;
    color: #FFFFFF;

}

main {
    display: flex;
    height: 100%;
}

.colour{
    width: 20%;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    background-color: #1F2937;
    color: #D5D4D8;


}

