*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    height: 150px;
    background-color: #1F2937;


}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.color-picker {
    width: 71px;
    height: 42px;
    margin: 0;
    border: 0.5px solid #D1D5DB;
    border-radius: 4px;
}

select {
    width: 312px;
    height: 42px;
    border-radius: 6px;
    background-color: #1F2937;
    color: #D5D4D8;
    font-size: 1rem;


}

.get-scheme-btn {
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #3D4B60;
    color: #FFFFFF;
    font-size: 0.9rem;
}

.get-scheme-btn:active {
    background-color: lightslategray;
}

main {
    display: flex;
    height: 100vh;
}

.color {
    width: 20%;
}


footer {
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #D5D4D8;

}